/**
 * @file internetblackoutnz.css
 * Against Guilt Upon Accusation Laws.  S92A protest.  February 16 to 23.  This module blacks out your website if enabled.
 */
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background: black;
  text-align: center;
}

.whats-this {
  position: absolute;
  bottom: 0;
  width: 60%;
  margin: 5em 20%;
  padding: 1em 0;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -safari-border-radius: 2em;
  background: #222;
  color: white;
  font-size: 1.5em;
}

a, a:link, a:visited {
  padding: .2em .4em;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -safari-border-radius: .5em;
  color: #66f;
  text-decoration: underline;
}
  a:visited { color: #55d; }
a:hover, a:active {
  background: #00a;
  color: white;
}
